@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

// for pwa
// ref : https://gist.github.com/sconstantinides/221a9ae6bf8a1d2bc02f1e5d5d5ddf61
/* Replace "standalone" with "fullscreen" depending on your manifest.json display mode */

@media (display-mode: standalone) {
  /* All installed PWAs */
  html,
  body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}
